server:
  port: 0 # porta aleatória (simula múltiplas instâncias)
  address: 127.0.0.1 # opcional: evita exposição direta fora da malha local

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/microservices
          jwk-set-uri: http://localhost:8080/realms/microservices/protocol/openid-connect/certs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
